# PRODUCAO
uvicorn==0.34.2
python-dotenv==1.1.0
fastapi==0.115.12
python-jose[cryptography]
pydantic[email]
requests
faker
python-multipart

# DESENVOLVIMENTO
click
black
flake8
flake8-black
pytest
pytest-cov
httpx